.Dec02 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_2]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec03 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_3]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec04 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_4]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec05 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_5]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec06 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_6]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec07 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_7]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec08 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_8]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec09 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_9]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec10 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_10]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec11 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_11]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec12 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_12]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec13 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_13]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec14 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_14]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec15 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_15]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec16 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_16]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec17 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_17]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec18 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_18]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec19 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_19]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec20 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_20]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec21 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_21]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec22 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_22]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec23 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_24]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec25 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/christmas_25]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Dec31 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/newyeareve]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
.Jan01 #page-header-wrapper {
    background : transparent url([[pix:theme|seasons/newyear]]) no-repeat left top;
    height: 100px;
    margin: 0;
}
